/* Shared styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


header {
    background-color: antiquewhite;
    padding: 3em 9em;
    margin-bottom: 80px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

section {
    margin-bottom: 130px;
}

.primary_btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 1.25rem 1.5rem;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
}

.section_title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.section_description {
    color: #727272;
}

nav,
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
    padding: 2em;
    font-size: 1em;
    font: 500;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* Banner styles */
.banner_container {
    text-align: center;
}

.banner_content {
    width: 70%;
    margin: 0 auto;
}

.banner_title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    padding: 20px 0;
}


.banner_container img {
    width: 100%;
    margin-top: 20px;
}

/* Quick list styles */
.quick_list_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.quick_list_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.quick_list {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.features {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}