/* Shared styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


header {
    background-color: antiquewhite;
    padding: 3em 9em;
    margin-bottom: 80px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

section {
    margin-bottom: 130px;
}

.primary_btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 1.25rem 1.5rem;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
}

.section_title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.section_description {
    color: #727272;
    margin-bottom: 25px;
}

nav,
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
    padding: 2em;
    font-size: 1em;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* Banner styles */
.banner_container {
    text-align: center;
}

.banner_content {
    width: 70%;
    margin: 0 auto;
}

.banner_title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    padding: 20px 0;
}


.banner_container img {
    width: 100%;
    margin-top: 20px;
}

/* Quick list styles */
.quick_list_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.quick_list_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.quick_list {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.quick_text_features {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

/* Features section style */
.features_container {
    display: flex;
    justify-content: center;
    gap: 54px;
}

.features_container .section_title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature_card {
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature_title {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}

.feature_description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.features_img_part img {
    margin-left: 90px;
}

#ten_years_experiences {
    width: 15rem;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    background-color: #FF900E;
    color: #FFF;
    position: relative;
    top: -100px;
}

#ten_years_experiences h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 4rem;
}

#ten_years_experiences p {
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
}

/* facts styles */
.facts_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 125px;
    margin-top: 100px;
}

.fact_card {
    border: 1px solid #FF900E;
    padding: 20px 0;
    border-radius: 8px;
}

/* Sponsor styles */
.sponsor_title_description {
    text-align: center;
}

.sponsor_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 100px;
}

/* Footer styles */
footer {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 130px;
    padding: 40px;
    border-radius: 8px;
    background: #FFF4E7;
    text-align: center;
}

.hide {
    display: none;
}

/* responsive design for small device */
@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
    }

    nav li {
        padding: 1rem;

    }
}